<h2 class="card-title text-center my-3">Please add your favorite sports!</h2>
  <div class="invoice-repeater d-flex row w-100">
    <div class="d-flex flex-column col-11">
      <div *ngFor="let item of items; let i = index">
        <div class="row d-flex align-items-end">
          <div class="col-md-3">
            <div class="form-group">
              <label for="sportName{{ i }}">Sport Name</label>
              <input type="text" class="form-control" name="sportName{{ i }}" id="sportName{{ i }}"
              [(ngModel)]="item.sportName">
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label for="why">Why</label>
              <input type="text" class="form-control" name="why{{ i }}" id="why{{ i }}"
              [(ngModel)]="item.why">
            </div>
          </div>
          <div class="col-md-1">
            <div class="form-group">
              <button class="btn btn-danger text-nowrap px-3" (click)="deleteItem(i)">
                -
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1">
      <button class="btn btn-icon btn-primary" type="button" (click)="addItem()"
        style="height: 50px;width: 50px;margin-top: 15px;">
        <i-feather name="plus"></i-feather>
      </button>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12">
      <ul class="list-group">
        <li class="list-group-item" >
          <div class="row">
            <div class="col-3"><b>Sport Name</b></div>
            <div class="col-9"><b>Reason</b></div>
          </div>
        </li>
        <li class="list-group-item" *ngFor="let i of items">
          <div class="row">
            <div class="col-3">{{i?.sportName}}</div>
            <div class="col-9">{{i?.why}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
