<div class="d-flex justify-content-center mt-5">
  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
    <label class="btn btn-outline-warning" for="btnradio1" (click)="tab='tab1'">Drag & Drop</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
    <label class="btn btn-outline-warning" for="btnradio2" (click)="tab='tab2'">Dynamic List</label>
  </div>
</div>

<div *ngIf="tab==='tab1'">
  <app-drag></app-drag>
</div>


<div *ngIf="tab==='tab2'">
  <app-add-sports></app-add-sports>
</div>
