<div class="container login d-flex justify-content-center">
  <div class="row w-100 h-100">
    <div class="login__wrapper w-100 h-100 d-flex justify-content-center align-items-center">
      <div class="card login__input-card py-5 px-2">
        <div class="login__input-card--design"></div>
        <div class="displayTable">
          <div class="displayTableCell">
            <div class="authBlock">
              <h3>Thank You for Registering</h3>
              <div class="formGroup" *ngIf="authService.userData as user">
                <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
                <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
              </div>

              <div class="w-100">
                <button class="btn btn-block d-flex justify-content-center align-items-center mx-auto" (click)="authService.SendVerificationMail()">
                  <i-feather name="mail" class="mx-1"></i-feather>
                  Resend Verification Email
                </button>
              </div>
            </div>
            <div class="redirectToLogin w-100 text-center">
              <span>Go back to?<span class="redirect" routerLink="/login"> Login</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
