@import '~dragula/dist/dragula.css';

.draggable {
  cursor: grab;
  .gu-unselectable & {
    cursor: grabbing;
  }
}
#multiple-list-group-a,
#multiple-list-group-b {
  min-height: 5.714rem;
}
#dd-with-handle {
  .list-group {
    min-height: 5.714rem;
    .handle {
      padding: 0 5px;
      margin-right: 5px;
      background-color: rgba(0, 0, 0, 0.1);
      cursor: move;
      font-size: 1.2rem;
    }
  }
}
.gu-mirror {
  .handle {
    padding: 0 5px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: move;
    font-size: 1.2rem;
  }
}
.dark-layout {
  .gu-mirror {
    &:not(.badge):not([class*='col-']) {
      background-color: #000;
      border-color: #000;
      box-shadow: #000;
    }
  }
}
.box-headers{
  height: 50px;
}
