<div class="col-sm-12">
  <h2 class="card-title text-center my-3">Choose up your dream team!</h2>
  <div class="card-body">
    <h4 class="card-text text-warning text-center">Drag and drop players</h4>
    <div class="w-100 d-flex justify-content-center mt-5">
      <button class="btn btn-danger" (click)="consolePlayers()">List Players</button>
    </div>
    <div class="row mb-5 mt-0" *ngIf="dreamTeam.length">
      <div class="col-12">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let i of dreamTeam">
            <div class="media d-flex align-items-center py-2">
              <img [src]="i.photo" class="rounded-circle mr-2" [alt]="i.name" height="55" width="55" />
              <div class="media-body mx-3 d-flex align-items-center pt-1">
                <div class="mt-0 h3 pt-1">{{i.name}}</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-md-6 col-sm-12">
        <div class="box-headers text-center">
          <h4 class="my-1 text-primary">PLAYERS</h4>
        </div>
        <ul dragula="multiple-list-group" class="list-group list-group-flush" id="multiple-list-group-a">
          <li class="list-group-item draggable" *ngFor="let player of players" [id]="player.id">
            <div class="media d-flex align-items-center py-2">
              <img [src]="player.photo" class="rounded-circle mr-2" [alt]="player.name" height="55" width="55" />
              <div class="media-body mx-3 d-flex align-items-center pt-1">
                <div class="mt-0 h3 pt-1">{{player.name}}</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="box-headers text-center">
          <h4 class="my-1 text-danger">BEST OF BEST</h4>
          <h5>
            <i-feather name="arrow-down"></i-feather>Drop Players Here!<i-feather name="arrow-down"></i-feather>
          </h5>
        </div>
        <ul dragula="multiple-list-group" class="list-group list-group-flush" id="multiple-list-group-b" #bestPlayers>
        </ul>
      </div>
    </div>
  </div>
</div>
