<div class="container">
  <div class="row mb-3">
    <div class="col-12 w-100 d-flex justify-content-center align-items-center">
      <img [src]="teamFundamentals.src" alt="teamFundamentals.name" width="200">
    </div>
    <div class="col-12 w-100 d-flex justify-content-center align-items-center"><h1>{{teamFundamentals.name}}</h1></div>
  </div>
  <div class="row">
    <div class="col-12 w-100 text-center"><h3>Game Statistics</h3></div>
    <div class="col-12 col-md-4 d-flex justify-content-center">
      <div class="w-100">
        <canvas id="shots" width="300" height="300"></canvas>
      </div>
    </div>
    <div class="col-12 col-md-4 d-flex justify-content-center">
      <div class="w-100">
        <canvas id="passes" width="300" height="300"></canvas>
      </div>
    </div>
    <div class="col-12 col-md-4 d-flex justify-content-center">
      <div class="w-100">
        <canvas id="general" width="300" height="300"></canvas>
      </div>
    </div>
  </div>
</div>
