<div class="container login d-flex justify-content-center">
  <div class="row w-100 h-100">
    <div class="login__wrapper w-100 h-100 d-flex justify-content-center align-items-center">
      <div class="card login__input-card py-5 px-2">
        <div class="login__input-card--design"></div>
        <form [formGroup]="loginForm">
          <input type="text" class="form-control mb-3" id="email" name="email" placeholder="email"
            formControlName="email"
            [style.border-color]="(!loginForm.get('email')?.valid && loginForm.get('email')?.touched) ? 'red' : ''">
          <input type="password" class="form-control mb-3" id="password" name="password"
            placeholder="6 - 12 char length password" maxlength="12" formControlName="password"
            [style.border-color]="(!loginForm.get('password')?.valid && loginForm.get('password')?.touched) ? 'red' : ''">
        </form>
        <button class="btn btn-dark btn-block"
          [disabled]="!loginForm.valid"
          (click)="authService.SignIn(loginForm.value.email, loginForm.value.password)">Login</button>
        <a class="btn btn-google mt-2" (click)="authService.GoogleAuth()">signup with Google</a>
        <div class="redirectToLogin text-center">
          <span>Not have an account?
            <span class="redirect" routerLink="/register">Register</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
