@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background: #f7f7f7;
  scroll-behavior: smooth;
  margin: 0px !important;
  padding: 0px !important;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0px !important;
  padding: 0px !important;
  font-family: "Poppins", sans-serif;
  font-size: 0.9375rem;
  height: 100%;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1c1c1c;
  font-weight: 500;
}
.h1,
h1 {
  font-size: 2.25rem;
}
.h2,
h2 {
  font-size: 1.875rem;
}
.h3,
h3 {
  font-size: 1.5rem;
}
.h4,
h4 {
  font-size: 1.125rem;
}
.h5,
h5 {
  font-size: 1rem;
}
.h6,
h6 {
  font-size: 0.875rem;
}

a {
  color: #00ADB5;
  text-decoration: none !important;
}
a:hover {
  color: #B83B5E;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none !important;
}
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
} */
input,
button,
a {
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
button:focus {
  outline: 0;
}
input[type="text"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.btn.focus,
.btn:focus {
  box-shadow: inherit;
}
.list-group-item {
  border: 1px solid #f0f0f0;
}
.content {
  min-height: 200px;
  padding: 30px 0 0;
}
.card{
  box-shadow: 2px 2px 13px rgb(0 0 0 / 10%);
}
.cursor-pointer{
  cursor: pointer;
}
