<div id="wrapper">
  <app-header [hidden]="!show"></app-header>
  <section class="main">
    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </section>
  </div>
<app-footer [hidden]="!show"></app-footer>

