@import './../assets/css/style.scss';


#wrapper {
  min-height: calc(100vh - 90px);
}
.main {
  width: 100vw;
}
.main-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  max-width: 1440px;
}
.app-footer {
  font-size: 20px;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#footer {
  color: red;
  width: 100%;
  height: 50px;
  background-color: #636363;
}
#footer > .container {
  margin: 0 auto;
}

