
.dark-wrapper{
  background: #222831 !important;
  color: #00ADB5 !important;
  & *{
    color: #00ADB5 !important;
  }
}
.red-wrapper{
  background: #ea4335 !important;
  color: #fff !important;
  & *{
    color: #fff !important;
  }
}
.orange-wrapper{
  background: #F08A5D !important;
  color: #F9ED69 !important;
  & *{
    color: #F9ED69 !important;
  }
}
.navbar-collapse {
  flex-grow: 0 !important;
}
