<div [ngClass]="attendedColor$ | async">
  <div class="container py-3">
    <div class="row">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand cursor-pointer" [routerLink]="'/'">Metrica Sports</a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation" (click)="toggleCollapsed()">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link my-auto cursor-pointer" aria-current="page" [routerLink]="'/'">Home</a>
              <a class="nav-link my-auto cursor-pointer" [routerLink]="'/extras'">Extras</a>
              <a class="nav-link my-auto">
                <div class="cursor-pointer" *ngIf="authService.userData as user">
                  <i-feather name="user" class="mx-1"></i-feather> {{authService.userData.email}}
                </div>
              </a>
              <a class="nav-link my-auto cursor-pointer" *ngIf="authService.userData as user" (click)="authService.SignOut()">
                <i-feather name="power" ></i-feather> Sign Out
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
