<footer class="d-flex justify-content-center align-items-center mt-5">
  <div>
    <div>Hand-crafted & Made with <i-feather name="heart" class="mx-1 text-danger"></i-feather> by <a href="https://www.linkedin.com/in/zubeyrberber/" target="_blank">zubeyr berber</a></div>
  </div>
</footer>
