<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Angular mini app for Metrica Sports</h1>
    </div>
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="mx-2 text-center">
        <p>if it seems too boring, you can change theme:</p>
        <div>
          <button class="btn btn-dark mx-2" (click)="setHeaderColor('dark-wrapper')">black</button>
          <button class="btn btn-danger mx-2" (click)="setHeaderColor('red-wrapper')">red</button>
          <button class="btn btn-warning mx-2" (click)="setHeaderColor('orange-wrapper')">yellow</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 d-flex justify-content-center">
      <div>
        <button class="btn btn-outline-dark" (click)="getMatchStatistics()">get match statistics</button>
      </div>
    </div>
  </div>

  <div class="row mt-3 d-flex justify-content-center" *ngIf="statistics">
    <div class="col-12 d-flex justify-content-center">
      <div class="w-75">
        <div class="mb-2 w-100 text-center">{{statistics?.time?.starting_at?.date_time}}</div>
        <div class="mb-2 w-100 text-center">King Power Stadium</div>
        <div class="d-flex align-items-center justify-content-center">
          <small>{{statistics?.weather_report?.temperature_celcius?.temp}}&#8451; </small>
          <img [src]="statistics?.weather_report?.icon" alt="weather" width="50">
        </div>
        <div class="mb-2 w-100 d-flex justify-content-around">
          <div class="d-flex align-items-center justify-content-center w-100 cursor-pointer" [routerLink]="statistics?.stats?.data[0]?.team_id">
            <img src="https://upload.wikimedia.org/wikipedia/tr/a/a2/Leicester_City_logo.png?20100221122724"
              alt="Leicester City" width="100">
            <b class="mx-2 cursor-pointer">Leicester City</b>
          </div>
          <div class="d-flex align-items-center justify-content-center w-100 cursor-pointer" [routerLink]="statistics?.stats?.data[1]?.team_id">
            <b class="mx-2 cursor-pointer" >Manchester United</b>
            <img src="https://upload.wikimedia.org/wikipedia/tr/b/b6/Manchester_United_FC_logo.png?20110713132202"
              alt="Manchester United" width="100">
          </div>
        </div>
        <div class="mb-2 w-100 text-center">Premier League</div>
        <div class="mb-2 w-100 text-center">
          <h4>{{statistics?.scores?.localteam_score}} - {{statistics?.scores?.visitorteam_score}}</h4>
        </div>
        <div class="mb-2 w-100 text-center">
          <h6>({{statistics?.scores?.ht_score}})</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3" *ngIf="statistics">
    <div class="w-100 text-center my-3">
      <h4>Statistics</h4>
    </div>
    <!-- ---------SHOTS------------ -->
    <div class="w-100 text-center mt-3 mb-0">
      <h5>Shots</h5>
    </div>
    <div class="col-6 left-side">
      <div class="w-100 d-flex flex-row-reverse">
        {{statistics?.stats?.data[0].shots.total}}
      </div>
      <div class="progress" style="transform: rotate(180deg);">
        <div [class]="statsDetails.home.totalShots >= 50 ? 'progress-bar bg-success' : 'progress-bar bg-danger'" role="progressbar"
          [style.width.%]="statsDetails.home.totalShots" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
    </div>
    <div class="col-6 right-side">
      <div>
        {{statistics?.stats?.data[1].shots.total}}
      </div>
      <div class="progress">
        <div [class]="statsDetails.visitor.totalShots >= 50 ? 'progress-bar bg-success' : 'progress-bar bg-danger'"
          role="progressbar" [style.width.%]="statsDetails.visitor.totalShots" aria-valuenow="100"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <!-- ---------PASSES------------ -->
    <div class="w-100 text-center mt-3 mb-0">
      <h5>Passes</h5>
    </div>
    <div class="col-6 left-side">
      <div class="w-100 d-flex flex-row-reverse">
        {{statistics?.stats?.data[0].passes.total}}
      </div>
      <div class="progress" style="transform: rotate(180deg);">
        <div [class]="statsDetails.home.totalPasses >= 50 ? 'progress-bar bg-success' : 'progress-bar bg-danger'" role="progressbar"
          [style.width.%]="statsDetails.home.totalPasses" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
    </div>
    <div class="col-6 right-side">
      <div>
        {{statistics?.stats?.data[1].passes.total}}
      </div>
      <div class="progress">
        <div [class]="statsDetails.visitor.totalPasses >= 50 ? 'progress-bar bg-success' : 'progress-bar bg-danger'"
          role="progressbar" [style.width.%]="statsDetails.visitor.totalPasses" aria-valuenow="100"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <!-- ---------ATTACKS------------ -->
    <div class="w-100 text-center mt-3 mb-0">
      <h5>Attacks</h5>
    </div>
    <div class="col-6 left-side">
      <div class="w-100 d-flex flex-row-reverse">
        {{statistics?.stats?.data[0].attacks.attacks}}
      </div>
      <div class="progress" style="transform: rotate(180deg);">
        <div [class]="statsDetails.home.totalAttacks >= 50 ? 'progress-bar bg-success' : 'progress-bar bg-danger'" role="progressbar"
          [style.width.%]="statsDetails.home.totalAttacks" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
    </div>
    <div class="col-6 right-side">
      <div>
        {{statistics?.stats?.data[1].attacks.attacks}}
      </div>
      <div class="progress">
        <div [class]="statsDetails.visitor.totalAttacks >= 50 ? 'progress-bar bg-success' : 'progress-bar bg-danger'"
          role="progressbar" [style.width.%]="statsDetails.visitor.totalAttacks" aria-valuenow="100"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <!-- ---------FOULS------------ -->
    <div class="w-100 text-center mt-3 mb-0">
      <h5>Fouls</h5>
    </div>
    <div class="col-6 left-side">
      <div class="w-100 d-flex flex-row-reverse">
        {{statistics?.stats?.data[0].fouls}}
      </div>
      <div class="progress" style="transform: rotate(180deg);">
        <div [class]="statsDetails.home.totalFouls >= 50 ? 'progress-bar bg-success' : 'progress-bar bg-danger'" role="progressbar"
          [style.width.%]="statsDetails.home.totalFouls" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
    </div>
    <div class="col-6 right-side">
      <div>
        {{statistics?.stats?.data[1].fouls}}
      </div>
      <div class="progress">
        <div [class]="statsDetails.visitor.totalFouls >= 50 ? 'progress-bar bg-success' : 'progress-bar bg-danger'"
          role="progressbar" [style.width.%]="statsDetails.visitor.totalFouls" aria-valuenow="100"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <!-- ---------GOALS------------ -->
    <div class="w-100 text-center mt-3 mb-0">
      <h5>Goals</h5>
    </div>
    <div class="col-6 left-side">
      <div class="w-100 d-flex flex-row-reverse">
        {{statistics?.stats?.data[0].goals}}
      </div>
      <div class="progress" style="transform: rotate(180deg);">
        <div [class]="statsDetails.home.goals >= 50 ? 'progress-bar bg-success' : 'progress-bar bg-danger'" role="progressbar"
          [style.width.%]="statsDetails.home.goals" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
    </div>
    <div class="col-6 right-side">
      <div>
        {{statistics?.stats?.data[1].goals}}
      </div>
      <div class="progress">
        <div [class]="statsDetails.visitor.goals >= 50 ? 'progress-bar bg-success' : 'progress-bar bg-danger'"
          role="progressbar" [style.width.%]="statsDetails.visitor.goals" aria-valuenow="100"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="w-100 h-100 d-flex justify-content-center align-items-center my-5" *ngIf="spinner">
    <app-spin-all></app-spin-all>
  </div>
</div>
