<div class="container login d-flex justify-content-center">
  <div class="row w-100 h-100">
    <div class="login__wrapper w-100 h-100 d-flex justify-content-center align-items-center">
      <div class="card login__input-card py-5 px-2">
        <div class="login__input-card--design"></div>
        <form [formGroup]="registerForm">
          <input type="text" class="form-control mb-3" id="email" name="email" placeholder="email"
            formControlName="email"
            [style.border-color]="(!registerForm.get('email')?.valid && registerForm.get('email')?.touched) ? 'red' : ''">
          <input type="password" class="form-control mb-3" id="password" name="password"
            placeholder="6 - 12 char length password" maxlength="12" formControlName="password"
            [style.border-color]="(!registerForm.get('password')?.valid && registerForm.get('password')?.touched) ? 'red' : ''">
          <input type="password" class="form-control mb-3" id="confirmPassword" name="confirmPassword"
            placeholder="confirm password" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}"
            [style.border-color]="(registerForm.value.password && (registerForm.value.password != confirmPassword)) ? 'red' : ''">
        </form>
        <button class="btn btn-dark btn-block"
          [disabled]="!registerForm.valid || (registerForm.value.password !== confirmPassword)"
          (click)="authService.SignUp(registerForm.value.email, registerForm.value.password)">Register</button>
        <a class="btn btn-google mt-2" (click)="authService.GoogleAuth()">signup with Google</a>
        <div class="redirectToLogin text-center">
          <span>Already have an account?
            <span class="redirect" routerLink="/login">Log In</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
