.login{
  height: 100vh;

  & form{
    z-index: 2;
  }
  &__input-card{
    position: relative;
    width: 350px;
    background: #fff;
    border-radius: 12px;
    z-index: 2;
    &--design{
    border-radius: 12px;
      -webkit-clip-path: circle(65.7% at 41% 0);
      clip-path: circle(65.7% at 41% 0);
      // background-color: rgba(0, 173, 181, 0.4);
      // background-color: #FF2E63;
      background-color: #CCF255;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 350px;
      z-index: 0;
    }
    & form{
      z-index: 2;
      & label{
        color: #393E46;
      }

    }
    & .btn-google{
      color: #EA4335;
      &:hover{
        font-weight: 700;
      }
    }
    & .redirect{
      color: #393E46;
      cursor: pointer;
      &:hover{
        font-weight: 700;
      }
    }
  }
}
